.cities {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

img {
  width: 1.5em;
}

.cities li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 2em;
  border-radius: 4px;
}

.cities li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}

.cities a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: large;
}

.cities a:hover {
  color: #607d8b;
}
